{{!-- Page to show details of food-establishments --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "food-establishment overview") "food-establishments.index"}} &lt; {{t (humanize 'food-establishment details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'food-establishment data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "food-establishments.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "establishmentName"}}</dt> <dd class="properties__data">{{ctx.get prop="establishmentName"}}</dd>
<dt class="properties__label">{{t "website"}}</dt> <dd class="properties__data">{{ctx.get prop="website"}}</dd>
          <dt class="properties__label">{{t "aggregateRating"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="aggregateRating" useUri=true link-to="aggregate-ratings.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "address"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="address" useUri=true link-to="postal-addresses.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "ratings"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="ratings" useUri=true link-to="ratings.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "reviews"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="reviews" useUri=true link-to="reviews.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "photos"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="photos" useUri=true link-to="files.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit food-establishment if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "food-establishments" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      {{#link-to "food-establishments.edit" model class="button" title=(t (humanize "Edit this food-establishment")) tagName="button"}}{{t 'edit'}}{{/link-to}}
    </div>
  </div>
{{/with-rdfa-context}}
