{{!-- Page to show details of reviews --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "review overview") "reviews.index"}} &lt; {{t (humanize 'review details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'review data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "reviews.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "reviewBody"}}</dt> <dd class="properties__data">{{ctx.get prop="reviewBody"}}</dd>
<dt class="properties__label">{{t "headline"}}</dt> <dd class="properties__data">{{ctx.get prop="headline"}}</dd>
<dt class="properties__label">{{t "created"}}</dt> <dd class="properties__data">{{ctx.get prop="created"}}</dd>
          <dt class="properties__label">{{t "rating"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="rating" useUri=true link-to="ratings.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "foodEstablishment"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="foodEstablishment" useUri=true link-to="food-establishments.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "authors"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="authors" useUri=true link-to="reviewers.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit review if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "reviews" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      {{#link-to "reviews.edit" model class="button" title=(t (humanize "Edit this review")) tagName="button"}}{{t 'edit'}}{{/link-to}}
    </div>
  </div>
{{/with-rdfa-context}}
