{{!-- Page to create a new reviewer --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New reviewer')}}</h2>

  {{!--
    Actions to save new reviewer
    or delete new reviewer.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new reviewer" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of reviewer. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>familyName</td>
<td align='middle'>{{handle-attribute model=model attribute='familyName' editable=true}}</td>
      </tr>
      <tr>
        <td>firstname</td>
<td align='middle'>{{handle-attribute model=model attribute='firstname' editable=true}}</td>
      </tr>
      
      
    </tbody>
  </table>
</div>
